.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.p-l-15{
    padding-left: 15px;
}

.p-r-15{
    padding-right: 15px;
}

.p-t-15{
    padding-top:15px;
}

.working-hours-calendar .fc-cell-text {
	font-size: 12px;
}

#select2-param_manipulations_group-results .select2-results__option, #select2-param_doctor-results .select2-results__option {
	font-size: 12px;
}

.m-datatable__body {
    cursor: pointer;
}

.hidden {
    display:none;
}

input.not-valid,
textarea.not-valid {
    border-color: red !important;
}

.required {
    color:red;
}

.margin-top {
    margin-top: 1rem;
}

.padding-top {
    padding-top: 1rem;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    float:left;
}

.m-body .m-content {
    padding: 0 ;
}

.m-subheader {
    padding: 30px 0px 0 30px;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fc-unthemed .fc-event .fc-title, .fc-unthemed .fc-event-dot .fc-title {
    color: #3f4047;
}
.fc-view-container { overflow-x: scroll; }

.fc-unthemed .fc-scroller .fc-content-col {
    padding: 0 !important;
}
.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 !important;
}
.fc-unthemed .fc-event .fc-content, .fc-unthemed .fc-event-dot .fc-content {
    padding : 2px;
}
.fc-unthemed .fc-event.fc-start .fc-content:before, .fc-unthemed .fc-event-dot.fc-start .fc-content:before {
    background: 0;
}

.fc-view.fc-roomsDay-view.fc-agenda-view,.fc-view.fc-roomsWeek-view.fc-agenda-view {
    min-width: 100%;
}

span#select2-diagnosis-container {
    min-height: 35px;
}